body {
	background-color: #eee;
	margin: 0;
}

nav {
	background-color: #fff;
	padding: 1em;
	box-shadow: 0 6px 4px -4px black;
}

.logo {
	display: block;
	margin: 0 auto;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
	display: block;
	color: #008b3b;
	font-family: 'Lato', 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	line-height: 2em;
}
.nav-link.active {
	color: #0b592c;
}

@media only screen and (min-width: 600px) {
	nav {
		padding: .5em 1em;
	}

	.logo {
		display: inline;
	}

	.nav-link,
	.nav-link:link,
	.nav-link:visited,
	.nav-link:hover,
	.nav-link:active {
		display: inline;
		margin-left: 1em;
	}
}
