body {
	background-color: #ccc;
	margin: 0;
}

nav {
	background-color: #fff;
	padding: 1em;
	box-shadow: 0 6px 4px -4px black;
}

nav img {
	display: block;
	margin: 0 auto;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
	display: block;
	color: #008b3b;
	font-family: 'Alatsi', sans-serif;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
	nav {
		padding: .5em 1em;
	}

	nav img {
		display: inline;
	}

	nav a,
	nav a:link,
	nav a:visited,
	nav a:hover,
	nav a:active {
		display: inline;
		margin-left: 1em;
	}
}
